<footer>
  <div class="container">
    <div style="display: flex;">
      <div style="margin-right: 1rem;">
        <img src="/assets/images/ddae31d7a1975ad736452be7732d821c-sticker.png" srcset="/assets/images/ddae31d7a1975ad736452be7732d821c-sticker.png 2x" width="64" height="64" alt="Memoji of Nikhil"/>
      </div>
      <div>
        <p>Dezine Zync is written by <a href="https://social.dezinezync.com/@nikhil">Nikhil</a>, an Indie developer making software for iOS and macOS.</p>
        <p>2019-2023 &copy; Nikhil Nigade — All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>

<!-- Cloudflare Web Analytics
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "82f95652f7e9414fbdffe3c69003b818"}'></script>
<!-- End Cloudflare Web Analytics -->