---
---

@import "{{ site.theme }}";
@import "variables";

html {
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  quotes: "“" "”";
}

picture {
  display: inline-block;
  box-sizing: content-box;
  object-fit: contain;

  &.pad-bottom {
    margin-bottom: 1rem;
  }
}

.grid {
  &.align-baseline {
    align-items: baseline;
  }
}

.linked, button {
  &:hover {
    cursor: pointer;
  }
}

header {
  nav a {
    font-size: 0.9rem;
  }

  #logo-title {
    display: inline-flex;
    align-items: center;

    h1 {
      margin-bottom: 0;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  span {
    font-family: var(--font-family);
  }

  &.subhead {
    color: var(--dz-subtitle-color);
    span {
      font-weight: 500;
    }
  }
}

.caption {
  color: var(--dz-subtext-color);
}

.container.readable {
  max-width: 64ch;
}

.container.center {
  text-align: center;
}

footer {
  margin-top: 2rem;

  p {
    font-size: 0.7rem;
    color: var(--dz-color-subtext);
    margin-bottom: 0.5rem;
  }
}

body.blog {
  header .container {
    display: flex;
    align-items: baseline;

    nav {
      margin-left: auto;
      margin-right: 0;
    }
  }

  #footer-apple-disclaimer {
    display: none;
  }

  footer p {
    margin-bottom: 0.75rem;
  }
}

body.blog {
  header {
    #website-title {
      display: flex; 
      flex-direction: column; 
      h1 {
        margin: 1rem 0 0.5rem;
        
        a {
          color: var(--dz-title-color);
        }
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}

nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1rem 0 auto;

    &:first-of-type {
      margin-left: auto;
    }

    &:last-of-type {
      margin-right: 1rem;
    }

    a {
      color: var(--dz-title-color);
      font-size: 0.8rem;
    }
  }

  > .container a[role="button"], > a[role="button"] {
    margin: 0;
    padding: 4px 8px 6px;

    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif !important;
    font-size: 0.8rem;
    line-height: 1.0;

    border: none;
    height: auto;
    min-height: unset;

    border-radius: 1rem;
  }
}

@media only screen and (prefers-color-scheme: dark) {
  button, *[role="button"] {
    &.black {
      color: #1a1a1c;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    &.vault {
      color: var(--dz-title-color);
    }
  }
}

@import "layouts/blog";