---
---

@import "minima";

/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: 1rem;
  
  display: block;

  li {
    display: inline-block;
    list-style: none;
    width: 44px;
  }

  .current-page {
    font-weight: 500;
  }
}