#my-apps {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;

  > div {
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background-color: color-mix(in hsl longer hue, ButtonFace 20%, Canvas);

    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    picture img {
      max-width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      margin: auto;
    }
  }
}

#my-work {
  > div {
    margin-block-start: 1rem;

    hgroup {
      h4 { 
        font-size: 1.2rem;
        margin-block-end: 0.5rem;
      }

      h5 {
        font-size: 1rem;
        margin-block-end: 0.5rem;
      }

      p {
        font-size: 0.85rem;
        font-weight: 400;
        letter-spacing: 0;
      }
    }
  }
}