<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-IN" }}">
{%- include head.html -%}
<body class="{% if page.style %}{{ page.style }}{% endif %} blog">
  {%- include header.html -%}
  <main class="container readable">
    <h3>My Apps</h3>
    <div class="grid" id="my-apps">
      <div>
        <a href="https://elytra.app" title="Elytra">
          <picture>
            <img src="https://elytra.app/assets/images/home/appicon.png" srcset="https://elytra.app/assets/images/home/appicon@2x.png 2x">
          </picture>
        </a>
      </div>
      <div>
        <a href="https://pockity.app" title="Pockity">
          <picture>
            <img src="https://pockity.app/assets/images/home/appicon.png" srcset="https://pockity.app/assets/images/home/appicon@2x.png 2x">
            <source media="(max-width: 600px)" srcset="https://pockity.app/assets/images/home/appicon-half.png 1x, https://pockity.app/assets/images/home/appicon.png 2x">
          </picture>
        </a>
      </div>
      <div>
        <a href="https://incise.app" title="Incise">
          <picture>
            <img src="https://incise.app/images/icon/icon-128w.png" srcset="https://incise.app/images/icon/icon-256w.png 2x">
            <source media="(max-width: 600px)" srcset="https://incise.app/images/icon/icon-256w.png 1x, https://incise.app/images/icon/icon-512w.png 2x">
          </picture>
        </a>
      </div>
    </div>
  </main>
  <div class="container readable">
    {%- include footer.html -%}
  </div>
</body>
</html>