<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-IN" }}">
{%- include head.html -%}
<body class="{% if page.style %}{{ page.style }}{% endif %} blog">
  {%- include header.html -%}
  <main>
    <hr />
    <div class="container readable">
      <article class="page-content no-style"> 
        <h2 style="--name:blog{{ page.url | relative_url | replace: "/", "-"}}">{{ page.title | escape }}</h2>
        {%- if page.bannerImage -%}
          <picture id="post-banner">
            <img src="{{ page.bannerImage | append: '.jpg' | absolute_url }}"/>
          </picture>
        {%- endif -%}
        <div class="article-content">
          {{ content }}
        </div>
      </article>

      <section class="page-post-content">
        <a href="#" onclick="window.history.back();">Back</a>
      </section>
    </div>
  </main>

  <div class="container readable">
    {%- include footer.html -%}
  </div>
</body>
</html>
